.header {
  width: 100%;
  background-color: var(--gray-100);
  padding: 7.2rem;
  margin: 0 auto;
}

.header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  transition: filter 0.2s ease-in-out;
}

.header > a > .githubLogo {
  height: 3.2rem;
  width: 0;
  background-color: var(--purple-100);
  border-radius: 50%;
  overflow: hidden;
  transition:
    width 0.2s ease-in-out,
    background-color 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.header > a:hover,
.header > a:focus {
  filter: brightness(1.15);
}

.header > a:hover > .githubLogo,
.header > a:focus > .githubLogo {
  width: 3.2rem;
  padding: 0.4rem;
}

.header > a > img {
  height: 3.2rem;
  width: 2.2rem;
}

.header > a > h1 {
  font-weight: 900;
  font-size: 4rem;
  color: var(--blue-300);
}

.header > a > h1 > span {
  color: var(--purple-100);
}
