.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 20rem 1fr;
  background-color: var(--gray-200);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--blue-100) var(--gray-100);
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: var(--gray-100);
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--blue-100);
  border-radius: 20px;
}

.newTask {
  width: 100%;
  max-width: 76rem;
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 8px;
  padding: 0 2rem;
  margin-top: -2.7rem;
}

.newTask > input {
  color: var(--gray-700);
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 26px 0 rgba(0, 0, 0, 0.19);
}

.newTask > input:focus {
  outline: 2px solid var(--purple-100);
}

.newTask > input::placeholder {
  color: var(--gray-500);
}

.newTask > button {
  box-shadow:
    0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 12px 26px 0 rgba(0, 0, 0, 0.19);
}

.tasks {
  width: 100%;
  max-width: 72rem;
  margin-top: 7.1rem;
}

.tasksHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  animation: fade-appear 0.25s ease-in forwards;
}

.tasksHeader > h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
}

.tasksHeader > h4:first-of-type {
  color: var(--blue-300);
}

.tasksHeader > h4:last-of-type {
  color: var(--purple-300);
}

.tasksHeader span {
  background-color: var(--gray-400);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--gray-600);
  padding: 2px 8px;
  border-radius: 999px;
}

.noTasksCreated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 6.4rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  animation: fade-appear 0.25s ease-in forwards;
}

.noTasksCreated > div {
  color: var(--gray-500);
  line-height: 1.4;
  text-align: center;
}

.noTasksCreated > div > h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

.tasksList {
  width: 100%;
  list-style: none;
}

.task + .task {
  margin-top: 12px;
}

.task {
  opacity: 0;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  background-color: var(--gray-300);
  padding: 1.6rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  animation: slide-right-appear 0.2s ease-in var(--delay, 0s) forwards;
}

.task > button {
  height: 18px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.task > button:hover,
.task > button:focus {
  filter: brightness(1.1);
}

.task > button:focus {
  outline: 2px solid var(--blue-300);
}

.taskInfo {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.taskInfo > p {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--gray-700);
  line-break: anywhere;
  line-height: 1.4;
  padding-right: 2rem;
}

.task > button.deleteTask {
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
  border: none;
  border-radius: 8px;
  transition:
    color 0.2s ease-out,
    background-color 0.2s ease-out;
}

.task > button.deleteTask:hover,
.task > button.deleteTask:focus {
  height: 18px;
  background-color: var(--gray-400);
  color: var(--red-300);
  border-radius: 4px;
  outline: 1px solid var(--gray-500);
}

@keyframes fade-appear {
  0% {
    opacity: 0.3;
  }
}

@keyframes slide-right-appear {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
